<launch>
    <!-- Add Gazebo model path. -->
    <!-- <env name="GAZEBO_MODEL_PATH" value="$(find qr_gazebo)/worlds/building_editor_models"/> -->
    <arg name="wname" default="earth"/>
    <arg name="paused" default="true"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="verbose" default="false"/>
    <!-- Debug mode will hung up the robot, use "true" or "false" to switch it. -->
    <arg name="debug" default="false"/>

    <!-- launch gazebo -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find qr_gazebo)/worlds/$(arg wname).world"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="headless" value="$(arg headless)"/>
    </include>

    <!-- launch robot_description -->
    <arg name="rname" default="a1"/>
    <arg name="robot_path" value="(find $(arg rname)_description)"/>
    <arg name="dollar" value="$"/>
    <arg name="use_xacro" default="true"/>
    <arg name="use_camera" default="false"/>
    <arg name="user_debug" default="false"/>
    <!-- load the URDF into the ROS Parameter Server -->
    <param name="robot_description"
            command="$(find xacro)/xacro --inorder '$(arg dollar)$(arg robot_path)/xacro/robot.xacro' DEBUG:=$(arg user_debug) USE_CAMERA:=$(arg use_camera)"/>

    <!-- launch controller_manager -->
    <node pkg="controller_manager" type="controller_manager" name="controllers_manager" output="screen"/>
    <!-- load joint controller configurations from YAML file to parameter server -->
    <rosparam file="$(arg dollar)$(arg robot_path)/config/robot_control.yaml" command="load"/>
    <!-- load controllers -->
    <node pkg="qr_gazebo" type="spawn_model" name="$(anon spawn_model)" args="$(arg rname)" output="screen"/>
</launch>
