<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="unitree_motor_control" params="name prefix use_mock_hardware">

    <!-- @zhiqi.jia, parameters are transferred to `info_` variable in "hardware/" -->
    <!-- include `hardware`, `joint` -->
    <ros2_control name="${name}" type="system">
      <xacro:unless value="${use_mock_hardware}">
        <hardware>
          <plugin>unitree_motor_example/UnitreeMotorSystemHardware</plugin>
          <param name="hw_start_interval_millisec">200</param>
          <param name="hw_stop_interval_millisec">100</param>
        </hardware>
      </xacro:unless>
      <!-- set `false` by launch -->
      <xacro:if value="${use_mock_hardware}">
        <hardware>
          <plugin>mock_components/GenericSystem</plugin>
          <param name="calculate_dynamics">true</param>
        </hardware>
      </xacro:if>
      <!-- controller_interface<->hardware_interface -->
     <joint name="${prefix}joint_ll_0">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <param name="motor_id">0</param>
        <param name="serial_port">/dev/ttyUSB0</param>
      </joint>
    </ros2_control>

  </xacro:macro>
</robot>
